@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
  --background-color: #f6f6f6;
  --background-color-section: #ccc4;
  --background-color-button-action: #0c0000;
  --font-color: #222;
  --font-color-header: #474747;
  --link-color: #3f8ef5;
}
:root.dark {
  --background-color: #121212;
  --background-color-section: #ccc4;
  --background-color-button-action: #fcffff;
  --font-color: #f6f6f6;
  --font-color-header: #c0c0c0;
  --link-color: #809fff;
}
@media (prefers-color-scheme: dark) {
  :root.light {
    --background-color: #f6f6f6;
    --background-color-section: #ccc4;
    --background-color-button-action: #0c0000;
    --font-color: #222;
    --font-color-header: #474747;
    --link-color: #3f8ef5;
  }
  :root {
    --background-color: #121212;
    --background-color-section: #ccc4
    --background-color-button-action: #fcffff;
    --font-color: #f6f6f6;
    --font-color-header: #c0c0c0;
    --link-color: #809fff;
  }
}

body {
  /*font-family: Arial, Verdana;*/
  font-family: 'Noto Sans', Tahoma, Arial, Helvetica, sans-serif;
  column-count: 1;
  padding: 1em;
  width: 285px;
  margin: auto;
  /*background-color: #333333;*/
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: 2em;
}

section {
  background-color: var(--background-color-section);
  border-radius: 2em;
  padding: 1em;
  margin: 1em 0em;
}

div.panel {
  float: left;
  width: auto;
}

table {
   margin: 12px 12px 12px 12px;  
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', "Trebuchet MS", "Trebuchet", "Nimbus Sans L", sans-serif;
	color: var(--font-color-header);
	margin: 1em 0 .3em;
}

p {
	margin: 1em 0 .3em;
}

a {
  color: var(--link-color);
}

input[type=checkbox]:checked {
  accent-color: #526477;
  background-color: #ddd;
}
input[type=checkbox] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
input[type=button], input[type=submit], input[type=reset] {
  /* border: none; */
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}

.checklist {
  margin: 0;
  padding: 0;  
  display: inline-block;
  min-width: 100px;
  max-width: 600px;
}

.checklist li {
  list-style: none;
  margin: 10px 0 5px 0;
  padding: 5px;
  /*background-color: #ffcccc;*/
  background-color: #ddd;
  /*color: #aa3333;*/
  color: #333;
  border-radius: 10px 0px;
}

.checklist li div:not([class]) {
  /*float: right;*/
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0 5px 0;
  padding: 5px;
  color: #117711;
  white-space: pre;
}

.checklist li div.note, div.note {
  font-size: smaller;
  margin: 10px 0 5px 0;
  padding: 5px;
  color: #4c4c4c;
  border-color: #fffb;
}
div.note {
  border-style: dashed;
  border-color: #ccc4;
  border-radius: 2em;
  color: var(--font-color);
}
.checklist li div.note {
  border-width: 3px;
  border-radius: 1em;
}

.checklist li[data-checked="true"] {
  background-color: #aaeeaa;
  color: #117711;
}

.checklist li[data-checked="true"] div:not([class]) {
  color: #777777ff;
}

.checklist li input {
  float: right;
}

.reset {
    background-color: var(--background-color-button-action); /* Green */
    border: none;
    color: var(--background-color); /*white*/
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
    right: 10px;
    bottom: 10px;
    position: fixed;
}

.reset:hover {
    background-color: #FF4E50; /* Green */
    /* color: white; */
}

.export {
  background-color: var(--background-color-button-action); /* Green */
  border: none;
  color: var(--background-color); /*white*/
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  right: 10px;
  bottom: 50px;
  position: fixed;
}

.export:hover {
  background-color: #4ec7ff; /* Green */
  /* color: white; */
}

/*TOC*/
.toc {
  /* top: 0px; */
  /* left: 0px; */
  /* height: 100%; */
  /* position: fixed; */
  /* background: #333; */
  /* box-shadow: inset -5px 0 5px 0px #000; */
  /* width: 150px; */
  /* padding-top: 20px; */
  /* color: #fff; */
  margin: 10px 0 5px 0;
  padding: 5px;
  background: #ccc4;
  border-style: dashed;
  border-color: #ccc4;
  border-radius: 2em;
}
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.toc li {
  padding: 5px 10px;
}
.toc a {
  text-decoration: none;
  display: block;
  font-size: smaller;
}
.toc .toc-h1 {
  visibility: hidden;
  display: none;
}
.toc .toc-h2 {
  padding-left: 10px;
}
.toc .toc-h3 {
  padding-left: 20px;
}
.toc .toc-active {
  /* background: #336699; */
  /* box-shadow: inset -5px 0px 10px -5px #000; */
}


@media screen and (min-width: 640px) {
  div.panel {
    width: auto;
    width: 46%;
    margin: 0 2% 0 2%;
  }
}

@media(min-width: 320px) {
  body {
    width: 95%;
  }
}

@media(min-width: 400px) {
}

@media(min-width: 768px) {
  body {
    width: 760px;
  }
}